/* OFFICIAL BLUE SECApp #535298 */
body {
  font-family: sans-serif;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

core-animated-pages {
  width: 98%;
  height: 96%;
  -webkit-user-select: none;
  overflow: hidden;
}

core-animated-pages > * {
  border-radius: 5px;
  background-color: white;overflow-y: auto;
}

body /deep/ core-toolbar {
  /*background-color: #535298;*/
  color: #fff;
}

core-menu {
  color: #1e1d30;
  margin: 10px 0 0 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

core-list .avatar{
  width:54px;
  height:54px;
  border-radius:50%;
  border:solid 4px #cccccc;
  margin-right:16px;
  background-color: #00BCD4;  
}

paper-item a {
  text-decoration: none;
  color: currentcolor;
  margin-left: 5px;
}

core-menu > paper-item.core-selected {
  background: #deeeee;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}

paper-input /deep/ .focused-underline {
    background-color: #535298;
}

paper-fab[icon=send] {
    background: #535298;
    bottom: 9px;
}

.send-message {
    padding: 0 16px 6px 16px;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 2px;
}

.card-top {
  background: #f2da2f;
  height: 120px;
}

.card-top-2 {
  background: #99f8b7;
  height: 240px;
}

.card-bottom {
  padding: 8px;
  background-color:#cccccc;
}

.headline {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  position: relative;
  background: #000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.icon::after {
  content: 'T';
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: 13px;
}

.source-container {
  margin-top: 16px;
}

.two-lines {
  margin-left: 16px;
}

.source {
  font-size: 14px;
}

.time {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
}

.tiles-container {
  margin-top: 16px;
}

.tile {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 85px;
  background: #fff;
  border-radius: 2px;
}


